body {
    background-color: #2f3136;
}

.password-container {
    margin: 0 auto;
    text-align: center;
}

#title-text {
    color: #b9bab6;
    margin-bottom: 1em;
}

#password-box {
    height: 2em;
    border-radius: 3px;
    background-color: #424549;
    border: 2px solid #686a6e;
    color: #bebfc1;
    text-align: center;
    width: 37em;
}

.buttons {
    background-color: #4CAF50;
    border-radius: 8px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #4CAF50 !important;
    font-size: 10px;
}