* {
  font-family: "Open Sans", sans-serif;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

.display-container {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.left-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background-color: #2f3136;
  /* overflow-y: scroll; */
}

.options {
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #36393e;
  overflow-y: scroll;
  overflow-x: hidden;
}

.options-container {
  width: auto;
}

.options-title {
  color: #b9bab6;
  margin-left: 2em;
}

.selected {
  color: #faa61a;
}

#user-options-title {
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

#user-options {
  margin-left: 1em;
  color: #fff;
}

.token-name {
  display: inline-flex;
  margin-right: 0.5em;
}

.trash {
  cursor: pointer;
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2f3136;
  border-color: #36393e;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e2124;
  border-color: #36393e;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
